@model YourEcommerce.DTOs.UserDtos.UserUpdateViewModel

@{
    ViewData["Title"] = "Perfil";
}

<div class="w-full flex flex-col sm:flex-row gap-4 mx-auto max-w-7xl py-4 px-4">
    <div class="w-full sm:max-w-50 flex flex-col-reverse sm:flex-col">
        <div class="rounded-lg max-w-50 sm:mb-4">
            <img src="@Model.ProfileImageUrl" class="rounded-xl" alt="">
        </div>
        <ul class="flex flex-row sm:flex-col justify-between sm:justify-start flex-wrap gap-4 text-sm font-medium text-gray-500 dark:text-gray-400 mb-4 md:mb-0"
            id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li role="presentation">
                <button
                    class="inline-flex gap-2 items-center px-4 py-3 rounded-lg hover:text-black bg-gray-50 w-full dark:bg-gray-800 cursor-pointer"
                    id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile">
                    <i data-lucide="circle-user-round" class="size-7 sm:size-5"></i>
                    <p class="hidden text-base sm:block">Perfil</p>
                </button>
            </li>
            <li role="presentation">
                <button
                    class="inline-flex gap-2 items-center px-4 py-3 rounded-lg hover:text-black bg-gray-50 w-full dark:bg-gray-800 cursor-pointer"
                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                    aria-selected="false">
                    <i data-lucide="chart-bar-big" class="size-7 sm:size-5"></i>
                    <p class="hidden text-base sm:block">Dashboard</p>
                </button>
            </li>
            <li role="presentation">
                <button
                    class="inline-flex gap-2 items-center px-4 py-3 rounded-lg hover:text-black bg-gray-50 w-full dark:bg-gray-800 cursor-pointer"
                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                    aria-selected="false">
                    <i data-lucide="settings" class="size-7 sm:size-5"></i>
                    <p class="hidden text-base sm:block">Configuracion</p>
                </button>
            </li>
            <li role="presentation">
                <button
                    class="inline-flex gap-2 items-center px-4 py-3 rounded-lg hover:text-black bg-gray-50 w-full dark:bg-gray-800 cursor-pointer"
                    id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts"
                    aria-selected="false">
                    <i data-lucide="headset" class="size-7 sm:size-5"></i>
                    <p class="hidden text-base sm:block">Contacto</p>
                </button>
            </li>
        </ul>
    </div>
    <div id="default-tab-content" class="w-full">
        <div class="hidden rounded-lg w-full" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h3 class="text-2xl mb-4">Detalles de la cuenta</h3>

            <div class="sm:flex w-full gap-4">
                <div class="w-full flex flex-col gap-4">
                    <div class="w-full shadow rounded-lg divide-y divide-gray-100">
                        <div class="flex justify-between text-lg font-medium p-6">
                            <h4>Mi Perfil</h4>
                            <button type="button" id="btn-edit" class="cursor-pointer hover:underline">Editar</button>
                        </div>
                        <div class="w-full p-6">
                            <div id="view-mode" class="flex flex-col md:flex-row justify-between gap-2">
                                <div class="text-sm w-32">
                                    <span class="font-medium">Nombre y Apellido</span>
                                    <p>@Model.Name @Model.Lastname</p>
                                </div>
                                <div class="text-sm">
                                    <span class="font-medium">Correo Electronico</span>
                                    <p class="break-words">@Model.Email</p>
                                </div>
                            </div>
                            <form asp-action="Profile" asp-controller="User" asp-route-id="@Model.Id" id="edit-mode" method="post" class="hidden max-w-sm mx-auto" novalidate>
                                <div class="flex gap-4 mb-5">
                                    <div class="w-full">
                                        <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Nombre
                                        </label>
                                        <input asp-for="Name" type="text" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                                        <span asp-validation-for="Name" class="text-red-600 text-sm"></span>
                                    </div>
                                    <div class="w-full">
                                        <label asp-for="Lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Apellido
                                        </label>
                                        <input type="text" asp-for="Lastname" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                                        <span asp-validation-for="Lastname" class="text-red-600 text-sm"></span>
                                    </div>
                                </div>
                                <div class="flex gap-4 mb-5">
                                    <div class="w-full">
                                        <label asp-for="PhoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Numero de Telefono
                                        </label>
                                        <input asp-for="PhoneNumber" type="text" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                                        <span asp-validation-for="PhoneNumber" class="text-red-600 text-sm"></span>
                                    </div>
                                    <div class="w-full">
                                        <label asp-for="Address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Direccion
                                        </label>
                                        <input type="text" asp-for="Address" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                                        <span asp-validation-for="Address" class="text-red-600 text-sm"></span>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label asp-for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                    <input type="email" id="email" asp-for="Email" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light" placeholder="name@direccion.com"/>
                                    <span asp-validation-for="Email" class="text-red-600 text-sm"></span>
                                </div>
                                <div class="text-end">
                                    <button id="btn-cancel" type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 cursor-pointer">
                                        Cancelar
                                    </button>
                                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="w-full shadow rounded-lg divide-y divide-gray-100">
                        <div class="flex justify-between text-lg font-medium p-6">
                            <h4>Contraseña</h4>
                            <button type="button" id="password-btn-edit" class="cursor-pointer hover:underline">Editar</button>
                        </div>
                        <div class="w-full p-6">
                            <div id="password-view-mode" class="text-sm">
                                <span class="font-medium">Contraseña</span>
                                <p class="text-lg">••••••••</p>
                            </div>
                            @{
                                var formCssClass = (ViewBag.ShowPasswordForm == true) ? "max-w-sm mx-auto" : "hidden max-w-sm mx-auto";
                            }
                            <form asp-action="Profile" asp-controller="User" asp-route-id="@Model.Id" method="post" id="password-edit-mode" class="@formCssClass" novalidate>
                                <div class="mb-5">
                                    <label asp-for="CurrentPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña Actual</label>
                                    <input asp-for="CurrentPassword" type="password" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                                    <span asp-validation-for="CurrentPassword" class="text-red-600 text-sm"></span>
                                </div>
                                <div class="mb-5">
                                    <label asp-for="NewPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nueva Contraseña</label>
                                    <input type="password" asp-for="NewPassword" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                                    <span asp-validation-for="NewPassword" class="text-red-600 text-sm"></span>
                                </div>
                                <div class="text-end">
                                    <button id="password-btn-cancel" type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 cursor-pointer">
                                        Cancelar
                                    </button>
                                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel"
            aria-labelledby="dashboard-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong
                    class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>.
                Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps
                classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel"
            aria-labelledby="settings-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong
                    class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>.
                Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps
                classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="contacts" role="tabpanel"
            aria-labelledby="contacts-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong
                    class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>.
                Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps
                classes to control the content visibility and styling.</p>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btnEdit = document.getElementById('btn-edit');
        const btnCancel = document.getElementById('btn-cancel');
        const viewMode = document.getElementById('view-mode');
        const editMode = document.getElementById('edit-mode');

        btnEdit.addEventListener('click', () => {
            viewMode.classList.add('hidden');
            editMode.classList.remove('hidden');
        });

        btnCancel.addEventListener('click', () => {
            editMode.classList.add('hidden');
            viewMode.classList.remove('hidden');
        });

        const passwordBtnEdit = document.getElementById('password-btn-edit');
        const passwordBtnCancel = document.getElementById('password-btn-cancel');
        const passwordViewMode = document.getElementById('password-view-mode');
        const passwordEditMode = document.getElementById('password-edit-mode');

        passwordBtnEdit.addEventListener('click', () => {
            passwordViewMode.classList.add('hidden');
            passwordEditMode.classList.remove('hidden');
        });

        passwordBtnCancel.addEventListener('click', () => {
            passwordEditMode.classList.add('hidden');
            passwordViewMode.classList.remove('hidden');
        });

        const tabs = document.querySelectorAll('[role="tab"]');

        function activarTab(tabActivo) {
            tabs.forEach(t => {
                t.classList.remove(
                    "bg-blue-700", "text-white", "dark:bg-blue-600",
                    "hover:text-white", "hover:bg-blue-700", "hover:dark:bg-blue-600"
                );
                t.classList.add("bg-gray-50", "dark:bg-gray-800", "hover:text-black");
            });

            tabActivo.classList.remove("bg-gray-50", "dark:bg-gray-800", "hover:text-black");
            tabActivo.classList.add(
                "bg-blue-700", "text-white", "dark:bg-blue-600",
                "hover:text-white", "hover:bg-blue-700", "hover:dark:bg-blue-600"
            );
        }

        const inicial = document.querySelector('[role="tab"][aria-selected="true"]') || tabs[0];
        activarTab(inicial);

        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                activarTab(this);
            });
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @{
        var showSuccessObj = TempData["ShowSuccess"];
        bool showSuccess = showSuccessObj is bool b && b;
    }

    @if (showSuccess)
    {
        <script>
            showToast("success", "@TempData["SuccessMessage"]");
        </script>
    }
}