@using YourEcommerce.DTOs.UserDtos
@using YourEcommerce.Helpers
@model YourEcommerce.ViewModels.NavbarViewModel

<nav class="w-full bg-white border-neutral-200 dark:bg-neutral-900">
    <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-2 animate__animated animate__fadeIn animate__faster">
        <button type="button" class="cursor-pointer inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-neutral-200 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:ring-neutral-600 order-1" data-drawer-target="drawer-backdrop" data-drawer-show="drawer-backdrop" data-drawer-backdrop="true" aria-controls="drawer-backdrop">
            <span class="sr-only">Open main menu</span>
            <i data-lucide="align-justify" class="size-7"></i>
        </button>
        <a href="/" class="flex items-center space-x-1.5 rtl:space-x-reverse order-2 md:order-1">
            <img src="~/img/icon.png" class="size-6" alt="">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">YourEcommerce</span>
        </a>
        <div class="flex gap-4 items-center order-3 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button" class="cursor-pointer text-neutral-500 dark:text-neutral-400 hover:bg-neutral-100 dark:hover:bg-neutral-700 focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700 rounded-lg text-sm p-2" data-drawer-target="drawer-right-example" data-drawer-show="drawer-right-example" data-drawer-placement="right" aria-controls="drawer-right-example">
                <i data-lucide="shopping-cart" class="size-6"></i>
            </button>
            @* @await Html.PartialAsync("_ThemeButton") *@
            <button type="button" class="cursor-pointer text-sm bg-neutral-200 rounded-full md:me-0 focus:ring-4 focus:ring-neutral-100 dark:focus:ring-neutral-600 order-3" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img 
                    class="size-10 rounded-full" 
                    src="@(!string.IsNullOrEmpty(Model.User?.ProfileImage) ? Model.User.ProfileImage : "/img/anonymous-profile.png")" 
                    alt="user photo">
            </button>
            <div class="hidden my-4 text-base list-none bg-white divide-y divide-neutral-100 rounded-lg shadow-sm overflow-hidden dark:bg-neutral-700 dark:divide-neutral-600 animate__animated animate__fadeIn animate__faster" id="user-dropdown">
                @if (Model.User != null && !string.IsNullOrEmpty(Model.User?.Name))
                {
                <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.User.Id">
                    <div class="px-3 py-2 flex gap-2 items-center border-b-1 border-neutral-50 hover:bg-neutral-100">
                        <img class="size-10 rounded-lg" src="@(!string.IsNullOrEmpty(Model.User.ProfileImage) ? Model.User.ProfileImage : "/img/anonymous-profile.png")"  alt="user photo">
                        <div class="max-w-40">
                            <span class="block text-neutral-900 dark:text-white">@Model.User.Name @Model.User.Lastname</span>
                            <span class="block text-sm text-neutral-500 truncate dark:text-neutral-400">@Model.User.Email</span>
                        </div>
                    </div>
                </a>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a asp-controller="Home" asp-action="Index" class="flex items-center gap-2 px-4 py-2 text-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:text-neutral-200 dark:hover:text-white">
                            <i data-lucide="home" class="size-5"></i>
                            Home
                        </a>
                    </li>
                    @if (Model.User != null && Model.User.Role == "Admin")
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Dashboard" class="flex items-center gap-2 px-4 py-2 text-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:text-neutral-200 dark:hover:text-white">
                                <i data-lucide="chart-bar-big" class="size-5"></i>
                                Dashboard
                            </a>
                        </li>
                    }
                </ul>
                <form asp-action="Logout" asp-controller="Auth" method="post" class="block text-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:text-neutral-200 dark:hover:text-white">
                    <button type="submit" class="flex items-center gap-2 w-full px-4 py-2 btn btn-danger cursor-pointer text-start">
                        <i data-lucide="arrow-left-to-line" class="size-5"></i>
                        Cerrar sesión
                    </button>
                    @Html.AntiForgeryToken()
                </form>
                }
                else
                {
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a asp-controller="Auth" asp-action="Login" class="flex items-center gap-2 px-4 py-2 text-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:text-neutral-200 dark:hover:text-white">
                                <i data-lucide="user" class="size-5"></i>
                                Iniciar sesión
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Auth" asp-action="Register" class="flex items-center gap-2 px-4 py-2 text-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:text-neutral-200 dark:hover:text-white">
                                <i data-lucide="arrow-right-to-line" class="size-5"></i>
                                Regístrate
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul class="flex gap-2 font-medium mt-4 border border-neutral-100 rounded-lg bg-neutral-50 md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-neutral-800 md:dark:bg-neutral-900 dark:border-neutral-700">
                @foreach (var gender in Model.Genders)
                {
                    <li>
                        <a id="mega-menu-full-cta-dropdown-button-@gender.Id" data-collapse-toggle="mega-menu-full-cta-dropdown-@gender.Id" data-dropdown-placement="bottom" class="cursor-pointer flex items-center justify-between w-full py-3 px-3 font-medium text-neutral-900 border-b-3 border-white dark:border-neutral-900 dark:hover:border-neutral-100 hover:border-b-neutral-900 md:w-auto dark:text-white">
                            @gender.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    @await Component.InvokeAsync("MegaMenu")
</nav>
